.about-container .about-content {
  text-align: start;
  margin: auto;
  width: 60%;
  height: 100%;
  padding: 4rem;
}

.about-container .container {
  width: 80vw;
}

.about-container .about-img {
  background-image: url("../images/robert.jpg"),
    url("./assets/images/robert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 40%;
  min-height: 50rem;
  height: 100%;
}
