.blog-container img {
  width: 30em;
  height: 25em;
  object-fit: cover;
}
.blog-container .title-img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.blog-container p {
  margin-bottom: 1.5rem;
}

.blog-container svg {
  width: 1em;
}

.blog-container span {
  margin-right: 2em;
}
