/** LINKED CSS FILES **/
@import "./navbar.css";
@import "./blog.css";
@import "./blogs.css";
@import "./buttons.css";

:root {
  --header-text-clr: #704e2e;
  --palette-main-btn: #79745c;
  --palette-active-clr: #704e2e;
  --palette-main-bg: #709176;
}

/**** GLOBAL STYLING ****/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
body {
  background-color: #f7f6f6;
}
hr {
  width: 80%;
}
h1,
h2 {
  text-align: center;
  color: var(--header-text-clr);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.8em;
}
figcaption {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
.main-container {
  text-align: center;
}
.container {
  text-align: center;
  margin: auto;
  width: 90vw;
  /* height: 100vh; */
  height: auto;
  min-height: auto;
  position: relative;
  margin-bottom: 40px;
}
.container .content {
  width: 70%;
  margin: auto;
  text-align: left;
}

#location-section {
  width: 100%;
  height: 100%;
}

/* MAP */
.map-container {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}
#map {
  position: relative;
  height: 100%;
  margin: auto;
  width: 70%;
  height: 42rem;
}
